## Base16 Shades of Purple
# Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1e1e3f
text-color=#c7c7c7
border-color=#6943ff

[urgency=low]
background-color=#1e1e3f
text-color=#ffe700
border-color=#6943ff

[urgency=high]
background-color=#1e1e3f
text-color=#d90429
border-color=#6943ff
