.base00 { color: #1e1e3f; }
.base01 { color: #43d426; }
.base02 { color: #f1d000; }
.base03 { color: #808080; }
.base04 { color: #6871ff; }
.base05 { color: #c7c7c7; }
.base06 { color: #ff77ff; }
.base07 { color: #ffffff; }
.base08 { color: #d90429; }
.base09 { color: #f92a1c; }
.base0A { color: #ffe700; }
.base0B { color: #3ad900; }
.base0C { color: #00c5c7; }
.base0D { color: #6943ff; }
.base0E { color: #ff2c70; }
.base0F { color: #79e8fb; }

.base00-background { background-color: #1e1e3f; }
.base01-background { background-color: #43d426; }
.base02-background { background-color: #f1d000; }
.base03-background { background-color: #808080; }
.base04-background { background-color: #6871ff; }
.base05-background { background-color: #c7c7c7; }
.base06-background { background-color: #ff77ff; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #d90429; }
.base09-background { background-color: #f92a1c; }
.base0A-background { background-color: #ffe700; }
.base0B-background { background-color: #3ad900; }
.base0C-background { background-color: #00c5c7; }
.base0D-background { background-color: #6943ff; }
.base0E-background { background-color: #ff2c70; }
.base0F-background { background-color: #79e8fb; }
