## Base16 Shades of Purple
# Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#3ad900"
       color_bad = "#d90429"
       color_degraded = "#ffe700"
}
