# Base16 Shades of Purple
# Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).

[global_config]
  title_transmit_fg_color = "#c7c7c7"
  title_transmit_bg_color = "#1e1e3f"
  title_inactive_fg_color = "#c7c7c7"
  title_inactive_bg_color = "#808080"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1e1e3f"
    foreground_color = "#c7c7c7"
    cursor_color = "#c7c7c7"
    palette = "#1e1e3f:#d90429:#3ad900:#ffe700:#6943ff:#ff2c70:#00c5c7:#c7c7c7:#808080:#f92a1c:#43d426:#f1d000:#6871ff:#ff77ff:#79e8fb:#ffffff"
